form {
  width: 50%;
  padding: 16px;
  background-color: #41b1dd;
}

form.center {
  margin-left: auto;
  margin-right: auto;
}

h1.center {
  text-align: center;
}

img.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  padding: 8px;
}

body {
  background-color: #1f4e78;
}
